<div
	class="m-auto w-64 rounded-lg bg-[#1F1F1F] p-4 text-xs shadow-2xl sm:w-96 md:w-[45rem] md:text-lg lg:m-0"
>
	<div>
		<span class="pr-8 text-[#6E7178]">1</span>
		<code class="text-white">if (you want to learn):</code>
	</div>
	<div>
		<span class="pr-12 text-[#6E7178]">2</span>
		<code class="text-white">Then join!</code>
	</div>
	<div>
		<span class="text-[#6E7178]">3</span>
	</div>
	<div>
		<span class="text-[#6E7178]">4</span>
	</div>
	<div>
		<span class="text-[#6E7178]">5</span>
	</div>
</div>
