---
import Footer from "../../components/Footer/Footer.astro";
import Navbar from "../../components/Navbar/Navbar.astro";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Project - {title} - The Hawks Code</title>
	</head>
	<body>
		<Navbar />
		<div class="min-h-svh bg-hawks-blue bg-stripes bg-cover px-4 py-24 sm:px-16 md:px-32 lg:px-64">
			<div
				class="bg-blur-xl min-h-[50vh] rounded-lg bg-black bg-opacity-20 p-2 text-white shadow-2xl sm:p-8"
			>
				<main
					class="prose-headings:pb-4 prose-headings:font-bold prose-headings:shadow-black prose-headings:text-shadow prose-h1:text-4xl prose-h2:text-2xl prose-h3:text-xl prose-h4:text-lg
                prose-p:pb-4 prose-a:text-blue-600 prose-img:rounded-xl"
				>
					<slot />
				</main>
			</div>
		</div>
		<Footer />
	</body>
</html>
